{% extends '@Sftp/base.html.twig' %}

{% block body %}
    <h5>Content of {{ dir }}</h5>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>File</th>
            <th>Size</th>
            <th>atime</th>
            <th>mtime</th>
        </tr>
        </thead>
        <tbody>
        {% for file in rawlist %}
            <tr>
                <td>{{ file.filename }}</td>
                <td>{{ file.size }}</td>
                <td>{{ file.atime | date('d:m:Y H:i') }}</td>
                <td>{{ file.mtime | date('d:m:Y H:i') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}